<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: main-header('view post')"></head>

<body>

<form class="text-center" method="Post" action="/posts/create" th:object="${post}">

<nav th:replace="fragments/navbar :: mainNavbar"></nav>

    <h2>Create new post here!</h2>
    <br/>
        Title: <input type="text" th:field="*{title}" name="title"/>
    <br/>
    <br/>
    Body: <input type="text" th:field="*{body}" name="body"/>
    <br/><br/>
    <button type="submit">Submit</button>

</form>
<br/>
<footer class="text-center">Michael </footer>
</body>
</html>

